

.var-1{
    height:  16px;
    width:   16px;
    padding:  4px 5px;
    margin:   4px 5px;
    background-color: aqua;
}

.var-2{
    height: 20px;
    width:   20px;
    padding:  10px 10px;
    margin:   10px 10px;
    background-color: aqua;
}

.var-3{
    height: 10px ;
    width:  10px ;
    padding: 20px 20px ;
    margin:  20px 20px ;
    background-color: aqua;
}

.var-4{
    height: 5px;
    width:  5px;
    padding: 15px 15px;
    margin:  15px 15px; 
    background-color: aqua;
}

.var-5{
    height:  2px;
    width:   2px;
    padding:  10px 5px;
    margin:   10px 5px;
    background-color: aqua;
}

.var-6{
    height:  8px;
    width:   3px;
    padding:  2px 4px;
    margin:   2px 4px;
    background-color: aqua;
}

.var-7{
    height:  12px;
    width:   12px;
    padding:  5px 5px;
    margin:   5px 5px;
    background-color: aqua;
}

.var-8{
    height:  9px;
    width:   9px;
    padding:  12px 10px;
    margin:   12px 10px;
    background-color: aqua;
}

.var-9{
    height:  24px;
    width:   24px;
    padding:  2px 4px;
    margin:   4px 2px;
    background-color: aqua;
}

.var-10{
    height:  14px;
    width:   14px;
    padding:  5px 5px;
    margin:   10px 10px;
    background-color: aqua;
}

.var-11{
    height:  7px;
    width:   7px;
    padding:  6px 6px;
    margin:   5px 5px;
    background-color: aqua;
}

.var-12{
    height: 11px ;
    width:   11px;
    padding:  9px 8px;
    margin:   9px 8px;
    background-color: aqua;
}

.var-13{
    height: 11px ;
    width:   11px;
    padding:  12px 10px;
    margin:  12px 10px ;
    background-color: aqua;
}

.var-14{
    height:  7px;
    width:   7px ;
    padding: 2px 5px ;
    margin:   2px 5px ;
    background-color: aqua;
}

.var-15{
    height:  8px;
    width:   8px;
    padding:  6px 7px;
    margin:   6px 7px;
    background-color: aqua;
}

.var-16{
    height:  10px;
    width:   10px;
    padding:  12px 15px;
    margin:   12px 15px;
    background-color: aqua;
}

.var-17{
    height:  18px;
    width:   18px;
    padding:  4px 10px;
    margin:   4px 10px;
    background-color: aqua;
}

.var-18{
    height:  16px;
    width:   16px;
    padding: 10px 10px;
    margin:  10px 10px ;
    background-color: aqua;
}

.var-19{
    height:  8px 4px;
    width:   8px 4px;
    padding: 12px 16px ;
    margin:  12px 16px ;
    background-color: aqua;
}

.var-20{
    height:  25px;
    width:   25px;
    padding: 10px 5px ;
    margin:  10px 5px ;
    background-color: aqua;
}